block variables

doctype html
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title 天堂M #{title}
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.10&appId=357364581351235";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		block head
	body
		block bodyStart
		#fb-root
		div(id="ieAlert", class="lightbox")
			div
				img(class="logo", src="assets/images/logo.png")
				p 本站不支援IE10以下瀏覽器，建議使用Chrome以利最佳體驗
		div(id="mobileLandscapeAlert", class="lightbox")
			div
				img(class="logo", src="assets/images/logo.png")
				p 請使用直式瀏覽
		header
			a(href="./")
				img(class="logo", src="assets/images/logo.png")
			img(class="nav-switch", src="assets/images/nav-switch.png")
			nav(class="nav")
				img(class="close", src="assets/images/close.png")
				ul
					li
						img(src="assets/images/logo.png")
					li
						a(href="./") 活動首頁
					li
						a(href="./register.html") 預先登錄
					li
						a(href="./treasure.html") 狂抽奪寶
					li
						a(href="./analysis.html") 戰力評比
					li
						a(href="http://www.google.com.tw", target="_blank")
							img(src="assets/images/googleplay.png", alt="Google Play")
					li(class="audio")
						a(class="audio-switch")
		block content
		
		script(src="assets/scripts/lib/device.min.js")
		script(src="assets/scripts/lib/bowser.min.js")
		script.
			if (bowser.msie && bowser.version <= 9) {
				var el = document.getElementById("ieAlert");
				if (el.classList)
				  el.classList.add('active');
				else
				  el.className += ' ' + 'active';
			}
		script(src="assets/scripts/lib/jquery.min.js")
		script(src="assets/scripts/lib/TweenMax.min.js")
		script(src="assets/scripts/common.js")
		block script
		