block variables

doctype html
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title 天堂M #{title}
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.10&appId=357364581351235";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		block head
	body
		block bodyStart
		#fb-root
		header
			a(href="./")
				img(class="logo", src="assets/images/logo.png")
			img(class="nav-switch", src="assets/images/nav-switch.png")
			nav(class="nav")
				img(class="close", src="assets/images/close.png")
				ul
					li
						img(src="assets/images/logo.png")
					li
						a(href="./") 活動首頁
					li
						a(href="./register.html") 預先登錄
					li
						a(href="./treasure.html") 狂抽奪寶
					li
						a(href="./analysis.html") 戰力評比
					li
						img(src="assets/images/googleplay.png", alt="Google Play")
		block content

		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.3/vue.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="assets/scripts/common.js")
		block script
		