extends _layout.jade

block variables
	- var title = "- 戰力評比";

block head
	link(rel="stylesheet", href="assets/styles/analysis.css")

block content
	input#APIKey(type="hidden", value="替換這裡")
	input#ma(type="hidden", value="替換這裡")
	main
		.debug
			button(data-to="1") page1
			button(data-to="2") page2
			button(data-to="3") page3
			button(data-to="4") page4
			button(data-to="5") page5
			button(data-to="6") page6
		//- .canvas-test
		section#title
			img(src="assets/images/analysis/title.png", alt="")
		//- section#page1.page
		//- 	.subtitle
		//- 		p 想了解你有多少戰力，
		//- 		p 並且超越多少人嗎？
		//- 	.tel-container
		//- 		p 輸入手機號碼
		//- 		.input-container
		//- 			select.tel-header-selecter
		//- 				option(value="+886") +886
		//- 				option(value="+86") +86
		//- 				option(value="+852") +852
		//- 				option(value="+853") +853
		//- 			input.tel-input(placeholder="手機號碼") 
		//- 	.btn.btn-tel-submit
		//- 		.btn-container
		//- 			p 立即登入
			
		section#page1.page
			.subtitle
				p 請選擇資深玩家
				p 或天堂新血
			.choose-container
				.choose-frame.old(data-stat="old")
					.frame-container
						p 資深玩家
						p 擁有天堂月/免服帳號，登入看角色戰力
				.choose-frame.new(data-stat="new")
					.frame-container
						p 天堂新血
						p 接受測驗了解自身潛力
			
			
		section#page2.page
			
			.char-table
				//- .row
				//- 	.left
				//- 		.check-box.checked
				//- 	.right
				//- 		.top
				//- 			.server
				//- 				p 月亮女神阿提密斯
				//- 		.bottom
				//- 			.job
				//- 				p 黑暗妖精
				//- 			.name
				//- 				p 齊天大聖孫孫孫悟空
				//- .hr
			.btn.btn-char-submit
				.btn-container
					p 確認
			
		section#page3.page
			
			.name-container
				input.name-input(placeholder="請輸入您的角色暱稱")
				.hr

			.btn.btn-name-submit
				.btn-container
					p 確認
			
		section#page4.page
			.subtitle
				p 請選擇喜愛的職業
				p 並進入測驗
			.choose-container
				.img-container
					.job.king.selected(data-job="king")
						.card-container
							img(src="assets/images/analysis/card_king.png", alt="")
					.job.knight(data-job="knight")
						.card-container
							img(src="assets/images/analysis/card_knight.png", alt="")
					.job.elf(data-job="elf")
						.card-container
							img(src="assets/images/analysis/card_elf.png", alt="")
					.job.wizard(data-job="wizard")
						.card-container
							img(src="assets/images/analysis/card_wizard.png", alt="")
				.clicker-container
					.job-clicker(data-job="king")
					.job-clicker(data-job="knight")
					.job-clicker(data-job="elf")
					.job-clicker(data-job="wizard")
			.mobile-job-switch-list
				.job-switch.king.selected
				.job-switch.knight
				.job-switch.elf
				.job-switch.wizard
			.btn.btn-job-submit
				.btn-container
					p 進入測驗
			
		section#page5.page
			
			.quiz-container
				.quiz-title
					p 一、你會注重強化哪一種能力值呢？
				.hr
				.quiz-option-list
					.quiz-option.option1(data-value="")
						p A.力量
					.quiz-option.option2(data-value="")
						p B.敏捷
					.quiz-option.option3(data-value="")
						p C.智力
					.quiz-option.option4(data-value="")
						p D.體質
				.quiz-progress-bar
					.quiz-progress.done(data-qNum="1")
					.quiz-progress(data-qNum="2")
					.quiz-progress(data-qNum="3")
					.quiz-progress(data-qNum="4")
					.quiz-progress(data-qNum="5")
					.quiz-progress(data-qNum="6")
			.btn.btn-quiz-submit
				.btn-container
					p 下一題
		section#page6.page
			.subtitle
				p 測驗結果
			.final-img
				//- img(src="assets/images/analysis/final.png", alt="")
			.btn-list
				.btn.btn-fb-share
					.btn-container
						img(src="assets/images/analysis/btn_icon_fb.png", alt="")
						p 分享到Facebook
				.btn.btn-line-share
					.btn-container
						img(src="assets/images/analysis/btn_icon_line.png", alt="")
						p 分享到Line 




block script
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js")
	script(src="assets/scripts/analysis.js")