extends _layout.jade

block variables
	- var title = "- 戰力評比";

block head
	link(rel="stylesheet", href="assets/styles/analysis.css")

block content
	main
		section
			p analysis123

block script
	script(src="assets/scripts/analysis.js")