extends _layout.jade

block variables
	- var title = "- 戰力評比";

block head
	link(rel="stylesheet", href="assets/styles/analysis.css")

block content
	main
		section#title
			img(src="assets/images/analysis/title.png", alt="")

		section#page1.page
			.frame
				.frame-container
		section#page2.page
			.subtitle
				p 請選擇資深玩家或天堂新血
			.choose-container
				.choose-frame.old
					.frame-container
						p 資深玩家
				.choose-frame.new
					.frame-container
						p 天堂新血
			.btn
				.btn-container
					p 確認
		section#page3.page
		section#page4.page


block script
	script(src="assets/scripts/analysis.js")