extends _layout.jade

block variables
	- var title = "";

block head
	link(rel="stylesheet", href="assets/styles/homepage.css")
	
block content
	main
		section
			p homepage123456

block script
	script(src="assets/scripts/homepage.js")