extends _layout.jade

block variables
	- var title = "- 預先登錄";

block head
	link(rel="stylesheet", href="assets/styles/register.css")

block bodyStart
	input(type="hidden", id="apikey", value="abcdefg")
	script.
		var getdataAPIurl = "/api/E20170921_3/GetData";
		var lineupAPIurl = "/api/E20170921_3/lineup";
block content
	main
		section
			canvas(id="pixiCanvas")
			//- button(id="test") test
			div(id="info")
				//- div(class="count")
				//- 	p 目前登錄: 13,658人
				div(class="search")
					input(id="searchID", type="text", placeholder="輸入電話號碼找自己")
					img(class="icon", src="assets/images/register/search.png", alt="search")

			//- button(id="test") 參加排隊
			a(id="registerBtn", class="btn btn--large btn--active")
				div(class="btn__container")
					p 前往登錄
			#form.lightbox
				img(class="close", src="assets/images/close.png", alt="close", v-on:click="closeForm")
				.wrapper
					img(class="block", src="assets/images/register/title.png", alt="預先登錄")
					form
						table
							tbody
								tr
									td
										p STEP1
										p 電話號碼
									td
										select(id="form-location")
											option(value="TW") +886
											option(value="HK") +852
											option(value="MAC") +853
										input(id="form-phone", type="text", placeholder="電話號碼")
								tr
									td
										p STEP2
										p 粉絲團按讚
									td
										div
											img(src="assets/images/register/fanpage.png")
										div
											p 天堂M 粉絲專頁
											div(class="fb-like", data-href="https://www.facebook.com/Gamania.Lineage.M/", data-width="200", data-layout="button_count", data-action="like", data-size="small", data-show-faces="false", data-share="false")

								tr
									td
										p STEP3
										p 留言板
									td
										input(id="form-memo", type="text", placeholder="限制輸入10個字以內")
								tr
									td
										p STEP4
										p 完成獎勵
									td
										img(src="assets/images/register/treasure.png")
						div
							input(id="ruleCheckbox", type="checkbox")
							label(for="ruleCheckbox")
								| 我同意遊戲橘子『
								a 隱私權政策
								| 』履行您個人資料的搜集與運用
						//- p 注意事項
						//- ul
						//- 	li 每個手機號碼，僅限參與本活動一次
						//- 	li 本活動僅限台港澳手機號碼參與
						//- 	li 每個遊戲帳號僅能獲得一次預先登錄獎勵
						//- 	li 完成預先登錄之獎勵將於活動結束後統一以簡訊的方式發送序號，序號發送時間將另行通知
						//- 	li 本公司將保留變更獎項內容及核准兌換與否之權利，詳細內容及異動說明均以本活動網頁最後一次公佈為準，請玩家密切注意網頁公布訊息
						//- 	li 活動開始後，所有參與活動玩家將視同同意最後公告之內容

						a(id="registerSendBtn", class="btn btn--block")
							div(class="btn__container")
								p 立即登入
						a 注意事項


								
block script
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.5/pixi.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js")
	script(src="assets/scripts/register.js")