extends _layout.jade

block variables
	- var title = "- 預先登錄";

block head
	link(rel="stylesheet", href="assets/styles/register.css")

block bodyStart
	input(type="hidden", id="apikey", value="abcdefg")
	script.
		var setting = {
			getdataAPIurl: 'api/E20170921_3/GetData',
			lineupAPIurl: 'api/E20170921_3/lineup',
			writetodayAPIurl: 'api/E20170921_3/writetoday'
		}
block content
	main
		section
			div(class="loading loading--active")
				div
					img(src="assets/images/logo.png")
					p 載入中
			canvas(id="pixiCanvas")
			div(class="arrow left")
			div(class="arrow right")
			div(id="info")
				//- div(class="count")
				//- 	p 目前登錄: 13,658人
				div(class="search")					
					select(id="searchLocation")
						option(value="TW") +886
						option(value="HK") +852
						option(value="MAC") +853
					input(id="searchPhone", type="text", placeholder="輸入電話號碼找自己", maxlength="10", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
					img(class="icon", src="assets/images/register/search.png", alt="search")
				div(class="fb-like", data-href="https://www.facebook.com/Gamania.Lineage.M/", data-width="200", data-layout="button_count", data-action="like", data-size="small", data-show-faces="false", data-share="true")

			//- button(id="test") 參加排隊
			a(id="registerBtn", class="btn btn--large btn--active")
				div(class="btn__container")
					p 前往登錄
			
			div(id="rule", class="lightbox")
				img(class="close", src="assets/images/close.png", alt="close")
				div(class="wrapper")
					p(class="mainTitle") 注意事項
					ul
						li 每個手機號碼，僅限參與本活動一次。
						li 本活動僅限使用台港澳手機號碼參與。
						li 每個遊戲帳號僅能獲得一次預先登錄獎勵。
						li 完成預先登錄之獎勵將於活動結束後統一以簡訊的方式發送序號，序號發送時間將另行公告。
						li 本公司將保留變更獎項內容以及核准兌換與否之權利，詳細內容及異動說明均以本活動網頁最後一次公佈為準，請玩家密切注意網頁公佈訊息。
						li 活動開始後，所有參與本活動玩家將視同同意最後公告之內容。
					
					p(class="mainTitle") 隱私權政策
					p 當您按下同意鍵時，即視為您已閱讀、瞭解並同意接受本隱私權政策。樂點股份有限公司（下稱本公司）有權於任何時間在本服務上公布經修改、變更之隱私權政策內容，當本服務公布上開修改、變更後，該更新內容即刻生效，建議您隨時注意該等修改、變更；若修訂版本有實質重大更動，本公司將會提前30日在本服務發布更新訊息，30日期間屆滿，本服務將正式施行前述之隱私權政策，若您繼續使用本服務所提供之商品或服務內容，您將被視為已閱讀、瞭解並同意接受所有修改。 
					p 本隱私權政策描述了本公司如何蒐集、處理、利用您的個人資訊。

					p(class="title") 資訊之蒐集、處理及利用
					ul
						li 於本服務上的單純瀏覽及檔案下載行為，本服務並不會蒐集任何有關個人的識別資料。
						li 本服務在蒐集會員的個人資料後，非經您本人同意、授權或因其他法律上的規定，不會擅自將非公開資料透露給無關之第三者知悉。
						li 本服務提供您關於會員資料發布之互動設定選項，您可以在選項設定之頁面，依您的需求自行選擇並設定是否公開您的姓名、電子郵件地址、性別、生日、居住地址等資料；當您完成本服務會肙註冊時，您的暱稱、生日及性別將預設為公開，其他個人識別資料則需待您填入後再自行選擇設定是否公開。				
						li 本服務會記錄使用者上站的IP位址、上網時間以及在本服務內所瀏覽的網頁等資料，這些資料係供本服務內部作本服務流量和網路行為調查的總量分析，以利於提昇本服務的服務品質，且本服務僅對全體使用者行為總和進行分析，並不會對個別使用者進行分析。
						li 本服務依本隱私權政策有義務保護各會員隱私，非經您本人同意不會任意利用、修改、刪除或對第三人提供任何會員之個人資料及檔案。除非經過您事先同意或符合以下情況始得為之：
							ol
								li 經由合法的途徑。 
								li 保護或防衛相關網路民眾的權利或所有權。
								li 為保護本服務各相關單位之權益。
								li 配合司法單位合法的調查。 
								li 配合相關職權機關依職務需要之調查或使用。 
								li 基於善意相信揭露為法律需要，或為維護和改進本服務服務而用於管理 。
								li 對您提供本公司各項服務資訊。
								li 為本服務提供服務之協力廠商，於其提供協力服務之目的範圍內。[註：協力廠商應該只能在提供本服務協力服務的目的範圍內蒐集、利用個人資料。] 
								li 本公司計劃合併或收購之公司。若有前開情事，本公司將會要求新合併的實體遵循本隱私權政策，並尊重您的個人資料保密性。 

						li 申請加入本服務會員時，若您曾提供個人的識別資料，例如：本人姓名、性別、出生日期、國民身分證字號、聯絡電話或手機、e-mail、通訊住址等個人最新、最真實之資料，您可以自行設定一組專屬於您之會員帳號及密碼，作為您登入本服務及您使用本服務所提供之產品、服務時的唯一身分識別，請您自行妥善保管該會員帳號及密碼。
						li 您申請加入本服務會員時所提供個人的識別資料，將用作本公司進行會員驗證、數據統計及分析、獎項兌換、廣告行銷、會員服務訊息、特別活動、新服務、新產品之通知等本服務相關服務用途。
						li 如本服務因您進行購物或捐款，而有提供金流、物流服務必要，本服務有可能會提供您前述範圍內必要的個人識別資料給相關機關或合作、協力廠商作為交易驗證或商品、回饋項目送達之用。
						li 本公司於提供服務或進行會員驗證、活動獎項頒發…等情形時，為確保您的帳戶安全，可能要求您協助提供可證明個人身份之證件正本、傳真或影本，以及郵寄地址、匯款帳戶等資料，以確定使用者為您本人。

					p(class="title") Cookie
					p 為了便利使用者的網頁瀏覽及操作，本服務可能使用cookie技術或其他類似技術，以提供更適合使用者個人需要的服務。cookie是本服務伺服器用來和使用者瀏覽器進行溝通的一種技術，它可能在使用者的電腦中儲存某些資訊。使用者可以經由瀏覽器的設定，取消或限制此項功能。 

					p(class="title") 保全
					p 根據本政策所指之個人資料，係指得以具體指名特定人之相關資料，並不包括以匿名方式所提供之資料。您的個人資料將會儲存在本公司營運中心之電腦。為保障您的隱私及安全，您的個人資料會採用合理之保全系統加以保護，例如防火牆或密碼保護。本公司僅授權有職務上必要之雇員，方得接觸您的個人資料。

					p 除本隱私權政策之規定內容外，本公司將不會出售或出租任何您的個人資料予第三方。
					p 若相關法律之規定與本隱私權政策有所衝突，本公司將遵循該法律之規定。

			div(id="edit", class="lightbox")
				img(class="close", src="assets/images/close.png", alt="close")
				div(class="wrapper")
					p(class="title") 編輯留言
					input(id="editMemo", type="text", value="", maxlength="10")
					a(id="editBtn", class="btn btn--block")
						div(class="btn__container")
							p 確定送出

			div(id="form", class="lightbox")
				img(class="close", src="assets/images/close.png", alt="close")
				div(class="wrapper")
					img(class="block title", src="assets/images/register/title.png", alt="預先登錄")
					form
						table
							tbody
								tr
									td
										p STEP1
										p 電話號碼
									td
										select(id="formLocation")
											option(value="TW") +886
											option(value="HK") +852
											option(value="MAC") +853
										input(id="formPhone", type="tel", placeholder="電話號碼", maxlength="10", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
								tr
									td
										p STEP2
										p 粉絲團按讚
									td
										div
											img(src="assets/images/register/fanpage.png")
										div
											p 天堂M 粉絲專頁
											div(class="fb-like", data-href="https://www.facebook.com/Gamania.Lineage.M/", data-width="200", data-layout="button_count", data-action="like", data-size="small", data-show-faces="false", data-share="false")
								tr
									td
										p STEP3
										p 留言板
									td
										input(id="formMemo", type="text", value="我愛天堂M", placeholder="限制輸入10個字以內", maxlength="10")
								tr
									td
										p STEP4
										p 完成獎勵
									td
										img(src="assets/images/register/treasure.png")
						div
							input(id="ruleCheckbox", type="checkbox")
							label(for="ruleCheckbox")
								| 我同意遊戲橘子『
								a(class="ruleBtn") 隱私權政策
								| 』履行您個人資料的搜集與運用
						//- p 注意事項
						//- ul
						//- 	li 每個手機號碼，僅限參與本活動一次
						//- 	li 本活動僅限台港澳手機號碼參與
						//- 	li 每個遊戲帳號僅能獲得一次預先登錄獎勵
						//- 	li 完成預先登錄之獎勵將於活動結束後統一以簡訊的方式發送序號，序號發送時間將另行通知
						//- 	li 本公司將保留變更獎項內容及核准兌換與否之權利，詳細內容及異動說明均以本活動網頁最後一次公佈為準，請玩家密切注意網頁公布訊息
						//- 	li 活動開始後，所有參與活動玩家將視同同意最後公告之內容

						a(id="registerSendBtn", class="btn btn--block")
							div(class="btn__container")
								p 立即登錄
						a(class="ruleBtn") 注意事項


								
block script
	script(src="assets/scripts/lib/pixi.min.js")
	script(src="assets/scripts/lib/jquery.mousewheel.min.js")
	script(src="assets/scripts/register.js")