extends _layout.jade

block variables
	- var title = "- 預先登錄";

block head
	link(rel="stylesheet", href="assets/styles/register.css")

block content
	main
		section
			p register

block script
	script(src="assets/scripts/register.js")