extends _layout.jade

block variables
	- var title = "- 狂抽奪寶";

block head
	link(rel="stylesheet", href="assets/styles/treasure.css")

block content
	main
		section
			p treasure

block script
	script(src="assets/scripts/treasure.js")