@charset "UTF-8";
@import "compass/css3";
@import "compass/reset";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);


$breakpoint: 768px;

html {
	font-family: 'Noto Sans TC', '微軟正黑體';
	font-size: 16px;
	font-weight: 100; // 1 3 4 5 7 9
	// line-height: 1.4em;
	background-color: #000000;
}

input {
	font-family: 'Noto Sans TC', '微軟正黑體';
	&::placeholder {
		font-family: 'Noto Sans TC', '微軟正黑體';
	}
}

#ieAlert {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #000000;
	z-index: 2000;
	width: 100%;
	height: 100%;
	.logo {
		width: 80%;
		margin-bottom: 20px;
	}
	p {
		font-size: 1.2em;
	}
}

#mobileLandscapeAlert {
	display: none;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	text-align: center;
	opacity: 1;
	visibility: visible;
	width: 100vw;
	height: 100vh;
	z-index: 1100;

	&.active {
		display: flex;
	}
	// @media screen and (max-width: 768px) and (min-aspect-ratio: 13/9) { 
	// 	display: flex;
	// }


	img {
		height: 120px;
		width: 192px;
	}
}

#alert {
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1050;
	&.active {
		.alert-box {
			// transform: translateY(0px);
		}
	}
	.alert-box {
		position: relative;
		width: 90%;
		max-width: 300px;
		background-image: url("../images/alert-frame.png");
		background-size: 100% 100%;
		// transform: translateY(-200px);
		transition: transform 0.25s linear;
		&::before {
			content: "";
			display: block;
			width: 100%;
			padding-bottom: 68%;
		}
		.alert-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			.close {
				position: absolute;
				top: 15px;
				right: 15px;
				width: 30px;
				display: none;
				&.active {
					display: block;
				}
			}
		}
	}
	
}
// html.landscape.mobile {
// 	#mobileLandscapeAlert {
// 		display: flex;

// 	}
// }

header {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: #FFFFFF;
	box-sizing: border-box;
	padding: 12px 24px;
	z-index: 1000;

	@media screen and (max-width: $breakpoint ) {
		padding: 10px 15px;
	}
	.logo {
		width: 100px;
		height: auto;
		@media screen and (max-width: $breakpoint ) {
			display: none;
		}
	}
	.nav-switch {
		display: none;
		margin-left: auto;
		cursor: pointer;
		width: 40px;
		@media screen and (max-width: $breakpoint ) {
			display: block;
		}
	}

	.nav {
		margin-left: auto;

		@media screen and (max-width: $breakpoint ) {
			display: none;
			justify-content: center;
			align-items: center;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #150f0f;
			z-index: 1100;

			&--active {
				display: flex;
			}

		}
		.audio-switch {
			display: inline-block;
			position: relative;
			width: 24px;
			height: 16px;
			background-image: url(../images/audio-on.png);
			cursor: pointer;
			&.off {
				background-image: url(../images/audio-off.png);
			}
		}

		.close {
			display: none;
			position: fixed;
			top: 20px;
			right: 20px;
			cursor: pointer;

			@media screen and (max-width: $breakpoint ) {
				display: block;
			}
		}
		ul {
			font-size: 1.1em;
			font-weight: 100;
			color: #ffe6c5;
			@media screen and (max-width: $breakpoint ) {
				text-align: center;
				font-size: 1.8em;
			    line-height: 1em;
			    padding: 0 25px;
			    box-sizing: border-box;
			}
		}

		li {
			display: inline-block;
			// background: linear-gradient(to bottom, #ffbc6e , #ffe8cb, #ffe6c5, #ffe6c5);
			// -webkit-background-clip: text;
			// -webkit-text-fill-color: transparent;
			text-shadow: 1px 1px 2px rgba(0,0,0,1);
			margin: 0 15px;
			vertical-align: middle;
			
			&:first-child {
				display: none;
				img {
					width: 100%;
					max-width: 400px;
				}
			}
			&:nth-child(2) {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}

			@media screen and (max-width: $breakpoint ) {
				display: block;
				margin: 20px 0;
				&:first-child {
					display: block;
					margin-bottom: 40px;
				}
				&:last-child {
					margin-top: 40px
				}
			}
		}
	}

}


a {
	color: inherit;
	text-decoration: none;
}

div.lightbox {
	// display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.85);
    padding: 0;
    margin: 0;
    border: none;
	z-index: 1010;
	box-sizing: border-box;
	padding: 40px 20px;
	color: #FFFFFF;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.25s linear, visibility 0.25s linear;

	&.active {
		// display: block;
		opacity: 1;
		visibility: visible;
	}
	.close {
		position: fixed;
		top: 30px;
		right: 30px;
		cursor: pointer;
	}
}

// .btn 使用於 a 或 button 或 div 元素
.btn {
	display: inline-block;
	position: relative;
	width: 200px;
	font-size: 1.1em;
	background-image: url(../images/btn.png);
	background-size: 100% 100%;
	cursor: pointer;
	text-decoration: none;
	color: #ffe6c5;
	
	background-color: transparent;
	outline: none;
	border: none;
	user-select: none;
	transition: filter 0.15s linear;

	&::before {
	    content: "";
	    display: block;
	    width: 100%;
	    padding-bottom: 30.42%;
	}

	&:hover {
		filter: brightness(1.5);
	}

	&:active {
		filter: brightness(2.2);
	}

	// 元素
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__icon {
		width: 20px;
		height: auto;
		margin-right: 5px;
	}

	// 修飾符
	&--block {
		display: block;
		margin: 0 auto;
	}
	&--large {
		width: 300px;
		font-size: 1.3em;
		.btn__icon {
			width: 30px;
			margin-right: 10px;
		}

	}
}