@import "_common.scss";
$breakpoint: 768px;
$breakpoint-s: 414px;


body {
	overflow: hidden;
}
header {
	background-color: rgba(0,0,0,0.7);
	// box-shadow: 0px 3px 20px 7px rgba(0, 0, 0, 0.6);
	@media screen and (max-width: $breakpoint ) {
		background-color: transparent;
		width: 70px;
		left: auto;
		right: 0;
	}
}

main {
	position: relative;
	width: 100%;
	height: 100vh;
	// background-image: url(../images/register-bg.jpg);
	// background-size: cover;
	// background-position: center;
}

#edit {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	.title {
		margin-bottom: 15px;
		font-size: 1.4em;
	}
	input {
		border: none;
		background-color: #1b1b1b;
		outline: none;
		box-sizing: border-box;
		padding: 5px;
		color: #7c7c7c;
		font-size: 1rem;
		text-align: center;
		font-family: 'Noto Sans TC';
		margin-bottom: 10px;
	}


}

#rule {
	z-index: 1011;
	overflow: auto;
	.wrapper {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		text-align: justify;
	}
	
	.mainTitle {
		font-size: 2em;
		font-weight: 400;
		text-align: center;
		margin-bottom: 0.5em;
		margin-top: 1em;

		&:first-child {
			margin-top: 0;
		}
	}
	.title {
		font-size: 1.4em;
		margin-top: 1em;
		margin-bottom: 0.5em;
		font-weight: 400;
	}
	ul {
		list-style-type: disc;
		margin-left: 1.5em;
	}
	ol {
		list-style-type: decimal;
		margin-left: 1.5em;
	}
	li {
		line-height: 1.5em;
	}
	p {
		line-height: 1.5em;
	}
}

#form {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	@media screen and (max-width: $breakpoint ) {
	    align-items: flex-start;
	    overflow: auto;
	    padding-top: 70px;
	}
	@media screen and (max-width: $breakpoint ) {
	    padding-top: 20px;
	}
	.close {
		@media screen and (max-width: $breakpoint ) {
		    position: absolute;
		    top: 20px;
		}
		@media screen and (max-width: $breakpoint-s ) {
			top: 15px;
			right: 15px;
			width: 30px;
		}
	}
	.wrapper {
		width: 100%;
		max-width: 600px;
		// margin: 0 auto;
		
	}
	.btn {
		margin-top: 30px;
		margin-bottom: 10px;
		@media screen and (max-width: $breakpoint-s ) {
			margin-top: 10px;
			margin-bottom: 5px;
		}
	}
	label {
		line-height: 1.5em;
		@media screen and (max-width: $breakpoint ) {
		    font-size: 0.9em;
		}
	}
	a {
		color: #FFFFFF;
		text-decoration: underline;
		cursor: pointer;
	}
	table {
		// width: 100%;
		// max-width: 450px;
		margin: 0 auto;
		border-collapse: separate;
		border-spacing: 0px 1em;
		font-size: 1.2em;
		line-height: 1.5em;
		@media screen and (max-width: $breakpoint ) {
			font-size: 0.75em;
		}
	}
	td {
		font-weight: 100;
		&:nth-child(1) {
			width: 120px;
			text-align: left;
			@media screen and (max-width: $breakpoint ) {
				width: 60px;
			}
		}
		&:nth-child(2) {
			padding-left: 20px;
			font-size: 0;
			width: 220px;
			@media screen and (max-width: $breakpoint ) {
				width: 180px;
				padding-left: 15px;
			}

			> * {
				font-size: 1rem;
			}
		}
	}

	tr {
		&:nth-child(1) {
			td:nth-child(2) {
				display: flex;

				select {
					width: 75px;
				}
				input {
					flex: 1;
					width: 100%;
					border-left: 1px solid #7c7c7c;
				}
			}
		}
		&:nth-child(2) {
			td:nth-child(2) > div {
				display: inline-block;
				vertical-align: top;
				
				&:nth-child(1) {
					img {
						@media screen and (max-width: $breakpoint ) {
							width: 55px;
						}
					}
				}

				&:nth-child(2) {
					margin-left: 10px;
					p {
					    margin-bottom: 10px;
					    font-size: 1.1em;
						@media screen and (max-width: $breakpoint ) {
							font-size: 0.8em;
						    margin-bottom: 5px;
						}
					}
				}
			}
			
		}
		&:nth-child(3) {
			input {
				width: 100%;
			}
		}
		&:nth-child(4) {
			img {
				width: 100%;
				max-width: 200px;	
			}
		}
	}

	img.block {
		display: block;
		margin: 0 auto;
	}
	img.title {
	    // width: 100%;
	    // max-width: 314px;
		@media screen and (max-width: $breakpoint-s ) {
		    width: 200px;
		}

	}
	input, select {
		border: none;
		background-color: #1b1b1b;
		outline: none;
		box-sizing: border-box;
		padding: 5px;
		color: #7c7c7c;
		font-size: 1rem;
		text-align: center;
		font-family: 'Noto Sans TC';
		@media screen and (max-width: $breakpoint ) {
		    font-size: 0.9rem;
		}

	}

	ul {
		text-align: left;
		li {
			margin: 10px 0;
		}
	}
	// p {
	// 	font-weight: 100;
	// }

	
}

#info {
    position: fixed;
    top: 90px;
    left: 20px;
    width: 280px;
    text-align: center;
	@media screen and (max-width: $breakpoint ) {
	    top: 12px;
	    left: 10px;
	    width: 220px;
	}
	
	.fb-like {
		display: inline-block !important;
		margin-top: 7px;
	}
	.count {
		position: relative;
		// width: 300px;
		// border: 1px solid #000000;
		// background-color: rgba(0,0,0,0.6);
		box-sizing: border-box;
		padding: 20px;
		background: linear-gradient(to bottom right, rgba(33,116,142, .95) 0%, rgba(22,78,75,0.95) 35%, rgba(22,78,75,0.95) 70%, rgba(33,116,142, .95) 120%);
		color: #FFFFFF;
		font-size: 1.4em;
		// box-shadow: inset 0 0 10px #000000;
		border-radius: 2px;
		margin-bottom: 10px;
		// &::before {
		// 	content: '';
		// 	display: block;
		// 	padding-top: 40%;
		// }
	}
	.search {
		display: flex;
		align-items: center;
		background-color: rgba(0,0,0,0.7);
		height: 40px;
		@media screen and (max-width: $breakpoint ) {
		    height: 35px;
		}
		select {
			flex: 0 0 75px;
			border: none;
			background-color: transparent;
			outline: none;
			box-sizing: border-box;
			padding: 5px;
			color: #7c7c7c;
			font-size: 1rem;
			text-align: center;
			font-family: 'Noto Sans TC';
			min-width: 0;
			@media screen and (max-width: $breakpoint ) {
			    font-size: 0.8rem;
			    flex: 0 0 60px;
			}
		}
		input {
			flex: 1;
			align-self: stretch;
		    background: none;
		    border: none;
		    text-align: center;
		    outline: none;
		    color: #7c7c7c;
		    font-family: 'Noto Sans TC';
		    min-width: 0;
		    @media screen and (max-width: $breakpoint ) {
			    font-size: 0.8rem;
			}
		}
		.icon {
			height: 100%;
			cursor: pointer;
		}
	}
}


#registerBtn {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	&.btn--active {
		display: block;
	}
	@media screen and (max-width: $breakpoint ) {
	    &.btn--large {
			width: 200px;
			font-size: 1.1em;
			bottom: 10px;
	    }
	}

}
#test {
	position: fixed;
	bottom: 200px;
	left: 50%;
	transform: translateX(-50%);
	&.hide {
		display: none;
	}
}

.arrow {
	position: absolute;
	top: 50%;
	width: 40px;
	// height: 50px;
	// border: 1px solid #000000;
	transform: translateY(-50%);
	// cursor: pointer;
	user-select: none;
	background-image: url(../images/register/arrow.png);
	background-size: 100% 100%;
	&::before {
		content: '';
		display: block;
		padding-top: 132.258065%
	}
	&.left {
		left: 10px;
		transform: translateY(-50%) scaleX(-1);
	}
	&.right {
		right: 10px;
	}
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1100;
	color: #FFFFFF;
	text-align: center;

	opacity: 0;
	visibility: hidden;
	transition: all 0.25s linear;
	&--active {
		opacity: 1;
		visibility: visible;
	}
	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	img {
		width: 100%;
		max-width: 280px;
	}
	.loadgif {
		width: 63px;
		margin: 30px 0;
	}
}

.lightbox {
	.fb-like {
		display: none;
	}

	&.active {
		.fb-like {
			display: block;
		}
	}
}