@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html {
  font-family: 'Noto Sans TC', '微軟正黑體';
  font-size: 16px;
  font-weight: 100;
  background-color: #000000; }

input {
  font-family: 'Noto Sans TC', '微軟正黑體'; }
  input::placeholder {
    font-family: 'Noto Sans TC', '微軟正黑體'; }

#ieAlert {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000000;
  z-index: 2000;
  width: 100%;
  height: 100%; }
  #ieAlert .logo {
    width: 80%;
    margin-bottom: 20px; }
  #ieAlert p {
    font-size: 1.2em; }

#mobileLandscapeAlert {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  text-align: center;
  opacity: 1;
  visibility: visible;
  width: 100vw;
  height: 100vh;
  z-index: 1100; }
  #mobileLandscapeAlert.active {
    display: flex; }
  #mobileLandscapeAlert img {
    height: 120px;
    width: 192px; }

#alert {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; }
  #alert .alert-box {
    position: relative;
    width: 90%;
    max-width: 300px;
    background-image: url("../images/alert-frame.png");
    background-size: 100% 100%;
    transition: transform 0.25s linear; }
    #alert .alert-box::before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 68%; }
    #alert .alert-box .alert-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #alert .alert-box .alert-container p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      #alert .alert-box .alert-container .close {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 30px;
        display: none; }
        #alert .alert-box .alert-container .close.active {
          display: block; }

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 12px 24px;
  z-index: 1000; }
  @media screen and (max-width: 768px) {
    header {
      padding: 10px 15px; } }
  header .logo {
    width: 100px;
    height: auto; }
    @media screen and (max-width: 768px) {
      header .logo {
        display: none; } }
  header .nav-switch {
    display: none;
    margin-left: auto;
    cursor: pointer;
    width: 40px; }
    @media screen and (max-width: 768px) {
      header .nav-switch {
        display: block; } }
  header .nav {
    margin-left: auto; }
    @media screen and (max-width: 768px) {
      header .nav {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #150f0f;
        z-index: 1100; }
        header .nav--active {
          display: flex; } }
    header .nav .audio-switch {
      display: inline-block;
      position: relative;
      width: 24px;
      height: 16px;
      background-image: url(../images/audio-on.png);
      cursor: pointer; }
      header .nav .audio-switch.off {
        background-image: url(../images/audio-off.png); }
    header .nav .close {
      display: none;
      position: fixed;
      top: 20px;
      right: 20px;
      cursor: pointer; }
      @media screen and (max-width: 768px) {
        header .nav .close {
          display: block; } }
    header .nav ul {
      font-size: 1.1em;
      font-weight: 100;
      color: #ffe6c5; }
      @media screen and (max-width: 768px) {
        header .nav ul {
          text-align: center;
          font-size: 1.8em;
          line-height: 1em;
          padding: 0 25px;
          box-sizing: border-box; } }
    header .nav li {
      display: inline-block;
      text-shadow: 1px 1px 2px black;
      margin: 0 15px;
      vertical-align: middle; }
      header .nav li:first-child {
        display: none; }
        header .nav li:first-child img {
          width: 100%;
          max-width: 400px; }
      header .nav li:nth-child(2) {
        margin-left: 0; }
      header .nav li:last-child {
        margin-right: 0; }
      @media screen and (max-width: 768px) {
        header .nav li {
          display: block;
          margin: 20px 0; }
          header .nav li:first-child {
            display: block;
            margin-bottom: 40px; }
          header .nav li:last-child {
            margin-top: 40px; } }

a {
  color: inherit;
  text-decoration: none; }

div.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 0;
  margin: 0;
  border: none;
  z-index: 1010;
  box-sizing: border-box;
  padding: 40px 20px;
  color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s linear, visibility 0.25s linear; }
  div.lightbox.active {
    opacity: 1;
    visibility: visible; }
  div.lightbox .close {
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer; }

.btn {
  display: inline-block;
  position: relative;
  width: 200px;
  font-size: 1.1em;
  background-image: url(../images/btn.png);
  background-size: 100% 100%;
  cursor: pointer;
  text-decoration: none;
  color: #ffe6c5;
  background-color: transparent;
  outline: none;
  border: none;
  user-select: none;
  transition: filter 0.15s linear; }
  .btn::before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 30.42%; }
  .btn:hover {
    filter: brightness(1.5); }
  .btn:active {
    filter: brightness(2.2); }
  .btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .btn__icon {
    width: 20px;
    height: auto;
    margin-right: 5px; }
  .btn--block {
    display: block;
    margin: 0 auto; }
  .btn--large {
    width: 300px;
    font-size: 1.3em; }
    .btn--large .btn__icon {
      width: 30px;
      margin-right: 10px; }

body {
  overflow: hidden; }

header {
  background-color: rgba(0, 0, 0, 0.7); }
  @media screen and (max-width: 768px) {
    header {
      background-color: transparent;
      width: 70px;
      left: auto;
      right: 0; } }

main {
  position: relative;
  width: 100%;
  height: 100vh; }

#mapCanvas {
  position: absolute;
  top: 50%;
  left: 50%; }

#edit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  #edit .title {
    margin-bottom: 15px;
    font-size: 1.4em; }
  #edit input {
    border: none;
    background-color: #1b1b1b;
    outline: none;
    box-sizing: border-box;
    padding: 5px;
    color: #7c7c7c;
    font-size: 1rem;
    text-align: center;
    font-family: 'Noto Sans TC';
    margin-bottom: 10px; }

#rule {
  z-index: 1011;
  overflow: auto; }
  #rule .wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify; }
  #rule .mainTitle {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 1em; }
    #rule .mainTitle:first-child {
      margin-top: 0; }
  #rule .title {
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 400; }
  #rule ul {
    list-style-type: disc;
    margin-left: 1.5em; }
  #rule ol {
    list-style-type: decimal;
    margin-left: 1.5em; }
  #rule li {
    line-height: 1.5em; }
  #rule p {
    line-height: 1.5em; }

#treasureInfo {
  z-index: 1011;
  display: flex;
  justify-content: center;
  align-items: center; }
  #treasureInfo .info-img {
    width: 60%;
    max-width: 300px; }

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  @media screen and (max-width: 768px) {
    #form {
      align-items: flex-start;
      overflow: auto;
      padding-top: 70px; } }
  @media screen and (max-width: 768px) {
    #form {
      padding-top: 20px; } }
  @media screen and (max-width: 768px) {
    #form .close {
      position: absolute;
      top: 20px; } }
  @media screen and (max-width: 414px) {
    #form .close {
      top: 15px;
      right: 15px;
      width: 30px; } }
  #form .wrapper {
    width: 100%;
    max-width: 600px; }
  #form .btn {
    margin-top: 30px;
    margin-bottom: 10px; }
    @media screen and (max-width: 414px) {
      #form .btn {
        margin-top: 10px;
        margin-bottom: 5px; } }
  #form label {
    line-height: 1.5em; }
    @media screen and (max-width: 768px) {
      #form label {
        font-size: 0.9em; } }
  #form a {
    color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer; }
  #form table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 1em;
    font-size: 1.2em;
    line-height: 1.5em; }
    @media screen and (max-width: 768px) {
      #form table {
        font-size: 0.75em; } }
  #form td {
    font-weight: 100; }
    #form td:nth-child(1) {
      width: 120px;
      text-align: left; }
      @media screen and (max-width: 768px) {
        #form td:nth-child(1) {
          width: 60px; } }
    #form td:nth-child(2) {
      padding-left: 20px;
      font-size: 0;
      width: 220px; }
      @media screen and (max-width: 768px) {
        #form td:nth-child(2) {
          width: 180px;
          padding-left: 15px; } }
      #form td:nth-child(2) > * {
        font-size: 1rem; }
  #form tr:nth-child(1) td:nth-child(2) {
    display: flex; }
    #form tr:nth-child(1) td:nth-child(2) select {
      width: 75px; }
    #form tr:nth-child(1) td:nth-child(2) input {
      width: calc(100% - 75px);
      border-left: 1px solid #7c7c7c; }
  #form tr:nth-child(2) td:nth-child(2) > div {
    display: inline-block;
    vertical-align: top; }
    @media screen and (max-width: 768px) {
      #form tr:nth-child(2) td:nth-child(2) > div:nth-child(1) img {
        width: 55px; } }
    #form tr:nth-child(2) td:nth-child(2) > div:nth-child(2) {
      margin-left: 10px; }
      #form tr:nth-child(2) td:nth-child(2) > div:nth-child(2) p {
        margin-bottom: 10px;
        font-size: 1.1em; }
        @media screen and (max-width: 768px) {
          #form tr:nth-child(2) td:nth-child(2) > div:nth-child(2) p {
            font-size: 0.8em;
            margin-bottom: 5px; } }
  #form tr:nth-child(3) input {
    width: 100%; }
  #form tr:nth-child(4) img {
    width: 100%;
    max-width: 200px; }
  #form tr .fanpage p {
    margin: 10px 0; }
  #form img.block {
    display: block;
    margin: 0 auto; }
  @media screen and (max-width: 414px) {
    #form img.title {
      width: 200px; } }
  #form input, #form select {
    border: none;
    background-color: #1b1b1b;
    outline: none;
    box-sizing: border-box;
    padding: 5px;
    color: #7c7c7c;
    font-size: 1rem;
    text-align: center;
    font-family: 'Noto Sans TC'; }
    @media screen and (max-width: 768px) {
      #form input, #form select {
        font-size: 0.9rem; } }
  #form ul {
    text-align: left; }
    #form ul li {
      margin: 10px 0; }
  #form .treasureBtn {
    cursor: pointer; }
  #form .rc-anchor {
    display: none !important; }

#info {
  position: fixed;
  top: 90px;
  left: 20px;
  width: 280px;
  text-align: center; }
  @media screen and (max-width: 768px) {
    #info {
      top: 12px;
      left: 10px;
      width: 250px; } }
  #info .fb-like {
    display: inline-block !important;
    margin-top: 7px; }
  #info .count {
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    background: linear-gradient(to bottom right, rgba(33, 116, 142, 0.95) 0%, rgba(22, 78, 75, 0.95) 35%, rgba(22, 78, 75, 0.95) 70%, rgba(33, 116, 142, 0.95) 120%);
    color: #FFFFFF;
    font-size: 1.4em;
    border-radius: 2px;
    margin-bottom: 10px; }
  #info .search {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    height: 40px; }
    @media screen and (max-width: 768px) {
      #info .search {
        height: 35px; } }
    #info .search select {
      flex: 0 0 75px;
      border: none;
      background-color: transparent;
      outline: none;
      box-sizing: border-box;
      padding: 5px;
      color: #7c7c7c;
      font-size: 1rem;
      text-align: center;
      font-family: 'Noto Sans TC';
      min-width: 0; }
      @media screen and (max-width: 768px) {
        #info .search select {
          font-size: 0.8rem;
          flex: 0 0 60px; } }
    #info .search input {
      flex: 1;
      align-self: stretch;
      background: none;
      border: none;
      text-align: center;
      outline: none;
      color: #7c7c7c;
      font-family: 'Noto Sans TC';
      min-width: 0; }
      @media screen and (max-width: 768px) {
        #info .search input {
          font-size: 0.8rem; } }
    #info .search .icon {
      height: 100%;
      cursor: pointer; }

#registerBtn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none; }
  #registerBtn.btn--active {
    display: block; }
  @media screen and (max-width: 768px) {
    #registerBtn.btn--large {
      width: 200px;
      font-size: 1.1em;
      bottom: 10px; } }

#test {
  position: fixed;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%); }
  #test.hide {
    display: none; }

.arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  transform: translateY(-50%);
  user-select: none;
  background-image: url(../images/register/arrow.png);
  background-size: 100% 100%; }
  .arrow::before {
    content: '';
    display: block;
    padding-top: 132.25806%; }
  .arrow.left {
    left: 10px;
    transform: translateY(-50%) scaleX(-1); }
  .arrow.right {
    right: 10px; }

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
  color: #FFFFFF;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear; }
  .loading--active {
    opacity: 1;
    visibility: visible; }
  .loading div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .loading img {
    width: 100%;
    max-width: 280px; }
  .loading .loadgif {
    width: 63px;
    margin: 30px 0; }

.lightbox .fb-like {
  display: none; }
.lightbox.active .fb-like {
  display: block; }
