@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html {
  font-family: 'Noto Sans TC', '微軟正黑體';
  font-size: 16px;
  font-weight: 100;
  line-height: 1.4em;
  background-color: #000000; }

#ieAlert {
  text-align: center;
  background-color: #000000;
  z-index: 2000; }
  #ieAlert > div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -77px;
    margin-left: -253px; }
  #ieAlert .logo {
    width: 400px;
    margin-bottom: 20px; }
  #ieAlert p {
    font-size: 1.2em; }

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 12px 24px;
  z-index: 1000; }
  @media screen and (max-width: 768px) {
    header {
      padding: 10px 15px; } }
  header .logo {
    width: 100px;
    height: auto; }
    @media screen and (max-width: 768px) {
      header .logo {
        display: none; } }
  header .nav-switch {
    display: none;
    margin-left: auto;
    cursor: pointer;
    width: 40px; }
    @media screen and (max-width: 768px) {
      header .nav-switch {
        display: block; } }
  header .nav {
    margin-left: auto; }
    @media screen and (max-width: 768px) {
      header .nav {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #150f0f;
        z-index: 1100; }
        header .nav--active {
          display: flex; } }
    header .nav .close {
      display: none;
      position: fixed;
      top: 20px;
      right: 20px;
      cursor: pointer; }
      @media screen and (max-width: 768px) {
        header .nav .close {
          display: block; } }
    header .nav ul {
      font-size: 1.1em;
      font-weight: 100;
      color: #ffe6c5; }
      @media screen and (max-width: 768px) {
        header .nav ul {
          text-align: center;
          font-size: 1.8em;
          line-height: 1em;
          padding: 0 25px;
          box-sizing: border-box; } }
    header .nav li {
      display: inline-block;
      text-shadow: 1px 1px 2px black;
      margin: 0 15px;
      vertical-align: middle; }
      header .nav li:first-child {
        display: none; }
        header .nav li:first-child img {
          width: 100%;
          max-width: 400px; }
      header .nav li:nth-child(2) {
        margin-left: 0; }
      header .nav li:last-child {
        margin-right: 0; }
      @media screen and (max-width: 768px) {
        header .nav li {
          display: block;
          margin: 20px 0; }
          header .nav li:first-child {
            display: block;
            margin-bottom: 40px; }
          header .nav li:last-child {
            margin-top: 40px; } }

a {
  color: inherit;
  text-decoration: none; }

div.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 0;
  margin: 0;
  border: none;
  z-index: 1010;
  box-sizing: border-box;
  padding: 40px 20px;
  color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s linear, visibility 0.25s linear; }
  div.lightbox.active {
    opacity: 1;
    visibility: visible; }
  div.lightbox .close {
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer; }

.btn {
  display: inline-block;
  position: relative;
  width: 200px;
  font-size: 1.1em;
  background-image: url(../images/btn.png);
  background-size: 100% 100%;
  cursor: pointer;
  text-decoration: none;
  color: #ffe6c5;
  background-color: transparent;
  outline: none;
  border: none;
  user-select: none;
  transition: filter 0.15s linear; }
  .btn::before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 30.42%; }
  .btn:hover {
    filter: brightness(1.5); }
  .btn:active {
    filter: brightness(2.2); }
  .btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .btn__icon {
    width: 20px;
    height: auto;
    margin-right: 5px; }
  .btn--block {
    display: block;
    margin: 0 auto; }
  .btn--large {
    width: 300px;
    font-size: 1.3em; }
    .btn--large .btn__icon {
      width: 30px;
      margin-right: 10px; }

* {
  box-sizing: border-box; }

main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/treasure/treasure-bg.jpg);
  background-size: cover;
  background-position: center;
  color: #fff; }
  main .debug {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100; }
    main .debug button {
      background-color: #FFF;
      outline: none; }
      main .debug button.selected {
        background-color: #000;
        color: #fff; }
  main #title {
    position: relative;
    width: 100%;
    padding-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto; }
    @media screen and (max-width: 1000px) {
      main #title {
        padding-top: 40px; } }
    main #title img {
      width: 80%;
      max-width: 300px; }
  main .hr {
    width: 100%;
    height: 1px;
    position: relative;
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0) 1%, rgba(51, 51, 51, 0.7) 50%, rgba(51, 51, 51, 0) 99%);
    box-shadow: 0px -1px 1px rgba(51, 51, 51, 0.5); }
    main .hr::after {
      content: "";
      display: block;
      position: absolute;
      top: 1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, rgba(255, 230, 197, 0) 1%, rgba(255, 230, 197, 0.7) 50%, rgba(255, 230, 197, 0) 99%); }
  main .page {
    position: relative;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 50px; }
    main .page.show {
      display: flex; }
    main .page .subtitle {
      margin: 0 0 50px 0;
      max-width: 80%;
      font-size: 1.5em;
      color: #ffe6c5;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }
      @media screen and (max-width: 1000px) {
        main .page .subtitle {
          margin: 0 0 30px 0;
          font-size: 1.3em; } }
      @media screen and (max-width: 350px) {
        main .page .subtitle {
          font-size: 1em; } }
      main .page .subtitle p {
        padding: 5px 0; }
  main #page1 .gift-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-size: 1.2em; }
    @media screen and (max-width: 1000px) {
      main #page1 .gift-container {
        margin: 20px; } }
    main #page1 .gift-container .gift-img {
      margin-top: 30px;
      width: 90%;
      max-width: 350px; }
  main #page1 .tel-container {
    margin: 20px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main #page1 .tel-container .input-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 20px; }
      main #page1 .tel-container .input-container .tel-header-selecter {
        width: 70px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 0px;
        border: 0;
        font-size: 1em;
        color: #aaa; }
      main #page1 .tel-container .input-container .tel-input {
        width: 150px;
        height: 40px;
        padding: 5px 10px;
        background-color: rgba(0, 0, 0, 0.7);
        border: 0;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        outline: none;
        font-size: 1.1em;
        color: #aaa; }
  main #page2 .ticket-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main #page2 .ticket-container .ticket-img {
      width: 90%;
      max-width: 300px;
      margin-bottom: 20px; }
    main #page2 .ticket-container .ticket-amount-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px; }
    main #page2 .ticket-container .friend-amount-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px; }
    main #page2 .ticket-container .dot {
      width: 7px;
      height: 7px;
      background-color: rgba(255, 230, 197, 0.5);
      transform: rotate(45deg);
      margin: 5px; }
  main #page2 .invite-container {
    margin: 20px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main #page2 .invite-container p {
      font-size: 0.7em; }
    main #page2 .invite-container .invite-link-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0; }
      main #page2 .invite-container .invite-link-container #invite-link {
        padding: 5px 10px;
        font-size: 1.2em;
        color: #ffe6c5;
        position: relative; }
        main #page2 .invite-container .invite-link-container #invite-link::after {
          content: "已複製至剪貼簿！";
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #ffe6c5;
          color: black;
          opacity: 0;
          transition: 0.5s; }
        main #page2 .invite-container .invite-link-container #invite-link.copyed::after {
          opacity: 1; }
      main #page2 .invite-container .invite-link-container #btn-copy {
        margin-left: 10px;
        padding: 3px 7px;
        background-color: rgba(0, 0, 0, 0.7);
        font-size: 0.5em;
        cursor: pointer;
        transition: 0.2s; }
        main #page2 .invite-container .invite-link-container #btn-copy:hover {
          background-color: rgba(0, 0, 0, 0.5); }
  main .lightbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    main .lightbox .close {
      z-index: 10; }
    main .lightbox .gift-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 40px 0;
      font-size: 1.2em; }
      main .lightbox .gift-container .gift-img {
        margin: 30px 0;
        width: 100%;
        max-width: 350px; }
    main .lightbox .info-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .lightbox .info-container .info-title {
        font-size: 1.3em;
        margin: 20px 0;
        flex: 0 0 auto; }
      main .lightbox .info-container .info-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 90%;
        max-width: 500px;
        flex: 0 0 auto; }
