@import "_common.scss";

$mobile-breakpoint: 1000px;
$small-mobile-breakpoint: 350px;
* {
	box-sizing: border-box;
}

main {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-image: url(../images/treasure/treasure-bg.jpg);
	background-size: cover;
	background-position: center;
	color: #fff;
	.debug {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 100;
		button {
			background-color: #FFF;
			outline: none;
			&.selected {
				background-color: #000;
				color: #fff;
			}
		}
	}
	#title {
		position: relative;
		width: 100%;
		// height: calc(15% + 75px);
		padding-top: 75px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 auto;
		@media screen and (max-width: $mobile-breakpoint ) {
			// height: calc(10% + 40px);
			padding-top: 40px;
		}
		img {
			width: 80%;
			max-width: 300px;
		}
	}
	.hr {
		width: 100%;
		height: 1px;
		position: relative;
		background-image: linear-gradient(left ,rgba(#333,0) 1%, rgba(#333,0.7) 50%, rgba(#333,0) 99%);
		box-shadow: 0px -1px 1px rgba(#333,0.5);
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 1px;
			left: 0;
			width: 100%;
			height: 1px;
			background-image: linear-gradient(left ,rgba(#ffe6c5,0) 1%, rgba(#ffe6c5,0.7) 50%, rgba(#ffe6c5,0) 99%);
		}
	}
	.page {
		position: relative;
		width: 100%;
		// height: calc(85% - 75px);
		display: none;
		flex-direction: column;
		// justify-content: space-between;
		justify-content: flex-start;
		align-items: center;
		padding-bottom: 50px;
		// overflow: scroll;
		@media screen and (max-width: $mobile-breakpoint ) {
			// height: calc(90% - 40px);
		}
		&.show {
			display: flex;
		}
		.subtitle {
			margin: 0 0 50px 0;
			max-width: 80%;
			font-size: 1.5em;
			color: #ffe6c5;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			@media screen and (max-width: $mobile-breakpoint ) {
				margin: 0 0 30px 0;
				font-size: 1.3em;
			}
			@media screen and (max-width: $small-mobile-breakpoint ) {
				font-size: 1em;
			}
			p {
				padding: 5px 0;
			}
		}
	}
	#page1 {
		.gift-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 40px;
			font-size: 1.2em;
			@media screen and (max-width: $mobile-breakpoint ) {
				margin: 20px;
			}
			.gift-title {

			}
			.gift-name {

			}
			.gift-img {
				margin-top: 30px;
				width: 90%;
				max-width: 350px;
			}
		}
		.tel-container {
			margin: 20px 0 40px 0; 
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.input-container {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				margin-top: 20px;
				.tel-header-selecter {
					width: 70px;
					height: 40px;
					background-color: rgba(#000,0.7);
					border-radius: 0px;
					border: 0;
					// outline: 1px solid rgba(#000,0.5);
					// outline-offset: -1px;
					// margin-right: 5px;
					font-size: 1em;
					color: #aaa;
				}
				.tel-input {
					width: 150px;
					height: 40px;
					padding: 5px 10px;
					background-color: rgba(#000,0.7);
					border: 0;
					border-left: 1px solid rgba(#fff,0.3);
					outline: none;
					font-size: 1.1em;
					color: #aaa;
				}
			}
		}
	}
	#page2 {
		.ticket-container {
			margin: 20px 0; 
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.ticket-img {
				width: 90%;
				max-width: 300px;
				margin-bottom: 20px;
			}
			.ticket-amount-container {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 10px;
			}
			.friend-amount-container {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 20px;
			}
			.dot {
				width: 7px;
				height: 7px;
				background-color: rgba(#ffe6c5,0.5);
				transform: rotate(45deg);
				margin: 5px;
			}
		}
		.invite-container {
			margin: 20px 0 50px 0; 
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			p {
				font-size: 0.7em;
			}
			.invite-link-container {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 10px 0;
				#invite-link {
					padding: 5px 10px;
					font-size: 1.2em;
					color: #ffe6c5;
					position: relative;
					&::after {
						content: "已複製至剪貼簿！";
						text-align: center;
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						background-color: rgba(#ffe6c5,1);
						color: black;
						opacity: 0;
						transition: 0.5s;
					}
					&.copyed {
						&::after {
							opacity: 1;
						}
					}
				}
				#btn-copy {
					margin-left: 10px;
					padding: 3px 7px;
					background-color: rgba(#000,0.7);
					font-size: 0.5em;
					cursor: pointer;
					transition: 0.2s;
					&:hover {
						background-color: rgba(#000,0.5);
					}
				}
			}
		}
	}
	.lightbox {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		.close {
			z-index: 10;
		}
		.gift-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 40px;
			font-size: 1.2em;
			width: 100%;
			.gift-img {
				margin: 30px 0;
				width: 100%;
				max-width: 350px;
			}
		}
		.info-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.info-title {
				font-size: 1.3em;
				margin: 20px 0;
				flex: 0 0 auto;
			}
			.info-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				width: 90%;
				max-width: 500px;
				flex: 0 0 auto;
			}
		}
			
	}
}